@import url('https://fonts.cdnfonts.com/css/arcade-classic');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}

body {
    background-color: #bfbfbf;
}

#root {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.box {
    border-bottom: 4px solid  #818181;
    border-right: 4px solid  #818181;
    border-left: 4px solid  #ffffff;
    border-top: 4px solid  #ffffff;
}

.board, .header, .play {
    border-bottom: 4px solid  #ffffff;
    border-right: 4px solid  #ffffff;
    border-left: 4px solid  #818181;
    border-top: 4px solid  #818181;
}

.play {
    padding: 20px;
}

.field {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-size: 32px;
    display: flex;
    justify-content: center;
    position: relative;
}

.number {
    font-family: 'ArcadeClassic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.board div  {
    display: flex;
}

.box {
    display: none;
    width: auto;
    padding: 26px 21px;
    background-color: #bfbfbf;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin-bottom: 10px;
}

.default, .mark {
    z-index: 1;
    height: 32px;
    width: 32px;
    position: absolute;
}

.lose-modal, .win-modal,.record-modal {
    display: none;
    text-align: center;
    animation: flash 1s infinite;
}

.win-modal {
    color: green;
}

.record-modal {
    color: rgb(50, 21, 111);
}

.play-modal {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-modal span {
    color: red;
    font-size: 23px;
}

nav {
    width: 100%;
    height: 30px;
    border-bottom: 4px solid  #ffffff;
    border-right: 4px solid  #ffffff;
    border-left: 4px solid  #818181;
    border-top: 4px solid  #818181;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}

nav div {
    display: flex;
    align-items: center;
}

nav img {
    height: 25px;
    width: 25px;
}
nav span {
    color: #000000;
}

.internet {
    margin-right: 15px;
}

.internet span{
    color: #000000;
}

.battery {
    position: relative;
    height: 35px;
    width: 35px;
}

.battery img{
    height: 35px;
    width: 35px;
    transform: rotate(180deg);
}

.battery span {
    color: red;
    font-family: 'ArcadeClassic', sans-serif;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

@keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.record-main {
    cursor: default !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.record-main h3 {
    margin-top: 20px;
}

.record-main h3, .record-main p {
    margin-left: 10px;
}

.record-main a{
    color: red;
    text-decoration: none;
}

.record {
    border-bottom: 4px solid  #ffffff;
    border-right: 4px solid  #ffffff;
    border-left: 4px solid  #818181;
    border-top: 4px solid  #818181;
    width: 400px;
    height: 150px;
    display: none;
    flex-direction: column;
    background-color: #a19d9d;
    position: absolute;
    justify-content: center;
    font-family: 'ArcadeClassic', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: rgb(50, 21, 111);
    font-size: 25px;
}

.result {
    margin-left: 20px;
    width: 70px;
    height: 50px;
    background-color: black;
    color: red;
    font-size: 25px;
    font-family: 'ArcadeClassic', sans-serif;
}

.board-modal {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
}

.board-modal a {
    background-color: #000000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: red;
    font-family: 'ArcadeClassic', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    animation: flash 3s infinite;
}

.won {
    color: green !important;
}

.instruction p, span{
    font-family: 'ArcadeClassic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #585656;
}

.playing-board {   
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

nav 

.play {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-bottom: 4px solid  #818181;
    border-right: 4px solid  #818181;
    border-left: 4px solid  #ffffff;
    border-top: 4px solid  #ffffff;
}

.play div {
    border-bottom: 4px solid  #ffffff;
    border-right: 4px solid  #ffffff;
    border-left: 4px solid  #818181;
    border-top: 4px solid  #818181;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    font-family: 'ArcadeClassic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.play h1 {
    color: red;
    font-family: 'ArcadeClassic', sans-serif;
    font-style: normal;
    font-weight: 400;
    word-spacing: 4px;
}

.instruction div {
    display: inline-block;
    width: 23px;
    height: 17px;
    background-color: black;
    color: #ffffff;
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
}